{}

:root{
    --primaryColor: rgb(231, 219, 219);
    --secondaryColor:rgb(122, 117, 117) ;
    --imgWidth: ;
    --marginBig: ;
    --marginMedium: ;
    --marginSmall: ;
    --paddingBig: ;
    --paddingMedium: 20px;
    --paddingSmall: ;
    --fontsizeNormal: 1rem;
    --fontsizeMedium:1.2rem ;
    --fontsizeBig:2rem ;
}