{}

/*Hlavčka*/
header{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 0.5fr 0.5fr;
    width: 1fr;
    padding: 0;
    margin: 0;
}
 
 header .main__logo{
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
 }

 header .main__title{
    grid-column-start: 1;
    grid-row-start: 2;
    width: 100%;
 }

 header .main__project-first{
    grid-column-start: 2;
    grid-row-start: 1;
    width: 100%;
    margin: 0;
 }

 header .mani__project-second{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    margin: 0;
 }





 /*NAVIGACE*/


nav{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4;
    width: 1fr;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px 0 10px 0;
   ;
}

nav .button-mytwick{
    background: gray;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 1fr;
}

nav .button-magenta{
    background: rgb(151, 9, 128);
    grid-column-start: 1 ;
    grid-row-start: 2;
    width: 1fr;
}

nav .button-ringana{
    background: green;
    grid-column-start:1 ;
    grid-row-start: 3;
    width: 1fr;
}

nav .button-marykay{
    background: pink;
    grid-column-start:1 ;
    grid-row-start: 4;
    width: 1fr;

}

nav .button-rkbm{
    background: blueviolet;
    padding: 10px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end:span 2 ;
    width: 1fr;
}

nav .button-add{
    background: orange;
    padding: 10px;
    grid-column-start: 2 ;
    grid-row-start: 3;
    grid-row-end:span 4;
    width: 1fr;
}

/*POHYBLIVÉ FOTOGRAFIE*/

details{
    display: grid;
    padding: 0;
    margin: 0;
}

