{}

/*Hlavčka*/
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr, 1fr,1fr);
    padding-bottom: var(--paddingMedium);
    margin: 0;
    justify-items: center;
    justify-content: space-around;
}
 

header .main__logo{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
 }



 header .main__project__first{
    grid-column-start: 1;
    grid-row-start: 2;
    margin-right: 30px;
 }

  header .main__project__second{
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: 30px;

 }

 header .main__title{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    border-top: 2px solid black;
    height: 20px;
 }



 /*NAVIGACE*/


nav{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4;
    width: 1fr;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: var(--fontsizeBig);
    color: var(--colorsizeWhite);
    padding: var(--paddingSmall);
}
    
nav .button-mytwick{
    background: var(--secondaryColor);
    grid-column-start: 1;
    grid-row-start: 1;
    width: 1fr;
    justify-self: stretch;
    align-self: center;
    border: 1px solid var(--colorsizeWhite);
}

nav .button-magenta{
    background: var(--secondaryColor);
    grid-column-start: 1 ;
    grid-row-start: 2;
    width: 1fr;
    border: 1px solid var(--colorsizeWhite);
}

nav .button-ringana{
    background: var(--secondaryColor);
    grid-column-start:1 ;
    grid-row-start: 3;
    width: 1fr;
    border: 1px solid var(--colorsizeWhite);
}

nav .button-marykay{
    background: var(--secondaryColor);
    grid-column-start:1 ;
    grid-row-start: 4;
    width: 1fr;
    border: 1px solid var(--colorsizeWhite);

}

nav .button-rkbm{
    background: var(--secondaryColor);
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end:span 2 ;
    width: 1fr;
    border: 1px solid var(--colorsizeWhite);
}

nav .button-add{
    background: var(--secondaryColor);
    grid-column-start: 2 ;
    grid-row-start: 3;
    grid-row-end:span 4;
    width: 1fr;
    border: 1px solid var(--colorsizeWhite);
}


/*POHYBLIVÉ FOTOGRAFIE*/

details{
    display: grid;
    padding: 0;
    margin: 0;
    height: 200px;
}

