{}
/*html{
    font-size: 100%;
}*/

body{
    margin: 0;
    padding: 0;
    background-color:grey;
    font-family: 'Pontano Sans', sans-serif;
    /* font-family: 'Dancing Script', cursive  */

}


/*SIDE FIRST*/
.side-first{
    background: white;
}
s
img.main__logo{
    display: block;
}

h1.main__titel{
    margin: 0;
    border: 2px solid black;
}

p.main__project-first{
    border: 2px solid red;
    margin: 0;
    font-size: 20px;

}

p.main__project-second{
    border: 2px solid yellow;
    margin: 0;

}



/*SIDE SECOND*/

.side-second{
    background: rgb(117, 112, 112);
}

/*SIDE THIRD*/
.side-third{
    background:rgb(218, 211, 211);
}


