{}
html{
    font-size: var(--fontsizeNormal);
}

body{
    margin:0 ;
    padding:0 ;
    background-color: var(--primaryColor);
    font-family: 'Pontano Sans', sans-serif;
    /* font-family: 'Dancing Script', cursive  */

}


/*SIDE FIRST*/

img.main__logo__img{
    margin-top:20px;
    margin-bottom: 20px;
    height: 80px;
}

.main__title{
    font-size: var(--fontsizeNormal);
    

}


p.main__project__first{
    padding: var(--paddingMedium);
    font-size: 1.2rem;

}

p.main__project__second{
    padding: var(--paddingMedium);
    font-size: 1.2rem;

}



/*SIDE SECOND*/

.side-second{
    background: ;
}

/*SIDE THIRD*/
.side-third{
    background:;
}


